{% extends "base.html" %}

{% block content %}
<h2>Mamando</h2>
<form action="{{ url_for('site.update_breastfeeding') }}" method="post">
    <input type="hidden" id="id" name="id" value="{{ breastfeeding.id }}">
    <div class="col-auto mb-3">
        <label for="started_at" class="form-label">Inicio</label>
        <input type="datetime-local" id="started_at" name="started_at"
               class="form-control" required value="{{ breastfeeding.input_started_at }}">
    </div>
    <div class="col-auto mb-3">
        <label for="finished_at" class="form-label">Fim</label>
        <input type="datetime-local" id="finished_at" name="finished_at"
               class="form-control" required value="{{ breastfeeding.input_finished_at }}">
    </div>
    <div class="col-auto mb-3">
        <label for="milk_sources" class="form-label col-2">
            Origem do Leite
        </label>
        <select name="milk_sources" id="milk_sources" class="form-select col-10"
                required>
            {% for milk_source in milk_sources %}
            <option value="{{ milk_source.id }}"
                    {% if breastfeeding.milk_source_id == milk_source.id%}
                        selected
                    {% endif %}
            >
                {{ milk_source.description }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto mb-3">
        <label for="note" class="form-label">Observação</label>
        <textarea name="note" id="note" cols="30" rows="3" class="form-control">{{ breastfeeding.note or "" }}</textarea>
    </div>
    <div class="col-auto mb-3">
        <button type="submit" class="btn btn-primary">
            SALVAR
        </button>
    </div>
</form>
<table class="table table-striped table-hover">

</table>

{% endblock content %}